# Ignore everything
/*

# Except my dotfiles
!.gitignore

# aurget
!.config/
.config/*
!.config/aurgetrc

# ssh public key
!.ssh/
.ssh/*
!.ssh/gent-main.pub

# tmux
!.tmux.conf

# oh-my-zsh
!.oh-my-zsh/

# zsh
!.zpath
!.zprofile
!.zshenv
!.zshrc
