#!/bin/sh

if [ ! -f "${HOME}/.config/chezmoi/key.txt" ]; then
    age --decrypt --output "${HOME}/.config/chezmoi/key.txt" "{{ .chezmoi.sourceDir }}/private_dot_config/chezmoi/key.txt.age"
    chmod 600 "${HOME}/.config/chezmoi/key.txt"
fi

