-- https://github.com/KabbAmine/zeavim.vim

{{ if eq .chezmoi.osRelease.name "Ubuntu" }}
vim.g.zv_zeal_executable = 'zeal.exe'
vim.g.zv_docsets_dir = '/mnt/c/Users/gento/scoop/apps/zeal/current/docsets'
{{ end }}

